@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");

body {
  background: black;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
}

.card {
  background-color: lightcoral;
  border-radius: 5px;
}

.card:hover {
  transform: translateY(-3px) scale(1.1);
}
