@import url("https://fonts.googleapis.com/css?family=Lato");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  margin: 0;
  color: blueviolet;
}

/* the container will always take 100% of the width */
#root {
  width: 100%;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  position: relative;
}

/* line */
.timeline-container::after {
  background-color: #e17b77;
  content: "";
  width: 4px;
  height: 100%;
  position: absolute;
  left: calc(50% - 2px); /*to center the line*/
}

/*container of each item (50% of the parent container) */
.timeline-item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  margin: 10px 0;
  width: 50%;
}

.timeline-item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-right: 0px;
  padding-left: 30px;
}

/*content of each item (70% of the item container) */
.timeline-item-content {
  max-width: 90%;
  background-color: white;
  color: black;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 400px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 15px;
  text-align: right;
  position: relative;
  z-index: 1;
}

.timeline-item:nth-child(odd) .timeline-item-content {
  align-items: flex-start;
  text-align: left;
}

.timeline-item-content::after {
  content: "";
  background-color: white;
  position: absolute;
  transform: rotate(45deg);
  right: -7.5px;
  top: calc(50% - 7.5px);
  width: 15px;
  height: 15px;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
  left: -7.5px;
}

.timeline-item-content p {
  color: black;
  font-size: 16px;
  line-height: 24px;
  margin: 10px 0;
  max-width: 250px;
}

.timeline-item-content .circle {
  background-color: white;
  border: 3px solid #e17b77;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  right: -40px; /*40px right padding and half of itself*/
  left: auto;
  z-index: 100;
  width: 20px;
  height: 20px;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
  left: -40px;
  right: auto;
}

@media screen and (max-width: 767px) {
  .timeline-container,
  .timeline-container:nth-child(odd) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 40px 0;
    position: relative;
  }

  /* line */
  .timeline-container::after {
    background-color: #e17b77;
    content: "";
    width: 4px;
    height: 100%;
    position: absolute;
    left: 40px;
  }

  /*container of each item (70% of the parent container) */
  .timeline-item,
  .timeline-item:nth-child(odd) {
    align-self: flex-start;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 70px;
    width: 300px;
  }

  .timeline-item-content::after,
  .timeline-item:nth-child(odd) .timeline-item-content::after {
    content: "";
    background-color: white;
    position: absolute;
    transform: rotate(45deg);
    left: -7.5px;
    top: calc(50% - 7.5px);
    width: 15px;
    height: 15px;
  }

  /*content of each item (70% of the item container) */
  .timeline-item-content,
  .timeline-item:nth-child(odd) .timeline-item-content {
    background-color: white;
    border-radius: 5px;
    color: black;
    width: 300px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 15px;
    text-align: right;
    position: relative;
  }

  .timeline-item-content p {
    font-size: 16px;
    line-height: 24px;
    margin: 10px 0;
    max-width: 250px;
    color: black;
  }

  .timeline-item-content .circle,
  .timeline-item:nth-child(odd) .timeline-item-content .circle {
    background-color: white;
    border: 3px solid #e17b77;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    left: -40px;
    width: 20px;
    height: 20px;
  }
}
