.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.front {
  background-color: lightcoral;
}

.back {
  background-color: lightseagreen;
}

.flip {
  height: 400px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  padding-bottom: 10px;
}

img {
  width: 100px;
  margin-top: 10px;
}

.basic-info {
  margin: 0 15px 15px 15px;
}

.back-container {
  margin: 15px;
  text-align: center;
}

.career-objective {
  margin-bottom: 15px;
}

button {
  padding: 5px 10px;
  border-radius: 5px;
}

button:hover {
  background-color: lightslategrey;
}
