@media screen and (min-width: 769px) {
  .portfolio-container {
    margin-top: 56px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.portfolio-container {
  margin: 56px 10px auto 10px;
}

.portfolio-item {
  color: black;
  margin: 10px;
  padding: 10px;
  background-color: lightcoral;
  border-radius: 5px;
}

ul {
  margin-top: 10px;
  padding: 0;
}

li {
  margin-left: 20px;
}

a:link {
  color: white;
}

a {
  word-wrap: break-word;
}

a:visited {
  /* color: blue; */
}

a:hover {
  color: orange;
}

a:active {
  color: green;
}
