.referees-grid {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.container {
  margin-top: 70px;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .referees-grid {
    display: flex;
    flex-direction: column;
    color: black;
    padding: 0;
  }
}
.referee {
  padding: 10px;
  margin-bottom: 20px;
  width: 300px;
  margin-left: 80px;
  margin-right: 80px;
}
