.navbar {
  margin: 0px auto 10px auto;
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: black;
}

.navbar-entry {
  margin: 0px 20px;
  color: white;
  text-decoration: none; /*to remove underline*/
}

@media screen and (max-width: 767px) {
  .navbar {
    margin: 0px auto 10px auto;
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .navbar-entry {
    margin: 0;
    color: white;
    text-decoration: none; /*to remove underline*/
  }
}
